@import "./global/geral.css";
@import "./utilitario/componentes.css";
@import "./utilitario/tipografia.css";
@import "./utilitario/cores.css";
@import "./utilitario/formilario.css";
@import "./home/header.css";
@import "./home/introducao.css";
@import "./bicicletas/bicicletas-lista.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";
@import "./seguros/seguros.css";
@import "./home/footer.css";
@import "./termos/termos.css";
@import "./bicicletas/bicicletas.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";
@import "./bicicleta/bicicleta.css";
@import "./contato/contato.css";
@import "./contato/lojas.css";
