.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--cor-p1), #f2a50c);
  color: var(--cor-p5);
  border-radius: 4px;
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "poppins", sans-serif;
  max-width: max-content;
}
.botao:hover {
  background: linear-gradient(var(--cor-p2), var(--cor-p2));
}
.botao.secundario {
  background: linear-gradient(var(--cor-9), var(--cor-10));
  color: var(--cor-2);
}
.botao.secundario:hover {
  background: var(--cor-10);
}
.seta.botao::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: transform 200ms;
}
.seta.botao:hover:after {
  transform: translatex(4px);
}
.seta.botao {
  display: flex;
  align-items: center;
}
.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: currentColor;
}
.link:hover {
  color: var(--cor-0);
}
@media (max-width: 800px) {
  .botao {
    padding: 16px 28px;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
  }
}
/*  titulo pags internas*/
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--cor-11);
}
.titulo p {
  margin-bottom: 4px;
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
