.fonte-1-xs {
  font: 400 0.75rem/1.35 "poppins", sans-serif;
}
.fonte-2-xs {
  font: 400 0.875rem/1.43 "roboto", sans-serif;
}
.fonte-1-s {
  font: 400 1rem/1.5 "poppins", sans-serif;
}
.fonte-2-s {
  font: 400 1rem/1.5 "roboto", sans-serif;
}
.fonte-1-m,
.fonte-1-m-b {
  font: 400 1.125rem/1.35 "poppins", sans-serif;
}
.fonte-1-m-b {
  font-weight: 600;
}
.fonte-2-m {
  font: 500 1.125rem/1.35 "roboto", sans-serif;
}
.fonte-1-l {
  font: 400 1.5rem/1.5 "poppins", sans-serif;
}
.fonte-2-l,
.fonte-2-l-b {
  font: 400 1.5 rem/1.125 "roboto", sans-serif;
}
.fonte-2-l-b {
  font-weight: 600;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}
.fonte-1-xl {
  font: 600 2rem/1.25 "poppins", sans-serif;
}
.fonte-2-xl {
  font: 500 4rem/1.125 "roboto", sans-serif;
}
.fonte-1-xxl {
  font: 600 4rem/1.125 "poppins", sans-serif;
}
@media (max-width: 1200px) {
  .fonte-1-xxl {
    font-size: 3rem;
  }
  .fonte-2-l,
  .fonte-2-l-b {
    font-size: 1.125rem;
  }
}
@media (max-width: 800px) {
  .fonte-1-xxl {
    font-size: 2rem;
  }
  .fonte-1-xl,
  .fonte-2-xl {
    font-size: 1.5rem;
  }
}
