.seguros-bg {
  background-color: var(--cor-11);
}
.seguros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
  align-items: center;
}
.seguros h2 {
  grid-column: 1/-1;
}
.seguros-item {
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.seguros-item span {
  margin-bottom: 2;
  display: block;
  text-align: right;
}
.seguros-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}
.seguros-item li + li {
  margin-top: 20px;
}
.seguros-item li {
  display: flex;
  align-items: center;
  position: relative;
}
.seguros-item li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -21px;
}
.seguros-item a {
  grid-column: 1/-1;
}
@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
}
